# Fichiers temporaires et de test
test.py
test.json
crash.txt
logs.txt

# Environnements virtuels
.venv/

# Dossiers de build (Python packaging)
build/
dist/

# Fichiers spécifiques à PyInstaller (optionnel si tu l'utilises)
*.spec

# Cache Python
__pycache__/
*.py[cod]
*.pyc

# Fichiers système (souvent inutiles dans un repo)
.DS_Store
Thumbs.db
